@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.banner {
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.banner-container {

    text-align: center;
    align-items: center;
    padding: 170px 340px;
    border-radius: 15px;
    margin: 20px 70px;
    opacity: #070211;

}

.banner-gretting {
    font-family: Merriweather;
    font-size: 32px;
    color: white;
    margin-bottom: 0px;

}

.banner-heading {
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-top: 20px;

}

/* style offer section */
.offer {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 120px 200px 120px 300px;


}

.offer-title {
    font-family: Inter;
    font-size: 80px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 0px;

}

.offer-p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    color: #FF0000;



}

.offer-sub-title {
    margin-top: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    color: black;

}

/* style welcome container */

.welcome {
    background-image: url("../images/Vector.png"), url("../images/Group\70.png");
    background-repeat: no-repeat;
    background-position: center, right bottom;
    margin: 0px 100px 100px 100px;
    padding: 120px;
    border-radius: 15px;
    /* border: 2px solid black; */

}

.welcome-container {
    width: 650px;

}

.welcome-title {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    color: white;
    margin-bottom: 0px;

}

.welcome-p {
    font-family: Inter;
    font-size: 18px;
    color: white;
}

.welcome-btn {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;


}

/* style place */

.place-section {

    background-image: linear-gradient(to bottom, #f7c1c1, white);

    /* Creates a gradient transitioning from blue on the left to green on the right */
    margin: 100px;
    border-radius: 10px;

}

.place-container {
    text-align: center;
    align-items: center;
    padding: 90px 0px 130px 0px;


}

.place {

    color: #FF0000;
}

.join-button {

    background-color: #FF0000;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;

}

/* style best-offer */

.best-offer {

    display: flex;
    gap: 100px;
    margin: 100px;
}

/* .best-offer-content {
    /* text-align: center;
    align-items: center; */


/* } */

.best-offer-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
}

.best-offer-subtitle {

    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;


}

.best-offer-description {
    font-family: Inter;
    font-size: 18px;
    color: #504e53;



}

.best-offer-date {

    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    color: #FF0000;

}

.best-offer-img {

    margin: -50px;
    padding: 20px;
    border-radius: 50%;

    border: 10px solid #FF0000;
}

.holiday-title {
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    margin: 0 auto;
}

.holiday-subtitle {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;



}

.holiday {
    margin: 100px;
    text-align: center;
    align-items: center;

}

.holiday-description {
    font-family: Inter;
    font-size: 18px;
    color: #504e53;

    line-height: 30px;

}

.discount {

    height: ;
    background-image: url("../images/Rectangle\ 2.png"), url("../images/Group\ 44.png");
    background-repeat: no-repeat;
    background-position: right bottom, top right, left bottom;


}